/* Fondo de la ventana modal */
.modal-overlay--password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Contenido de la ventana modal */
.modal-content--password {
    background-color: #ffffff;
    /* Blanco */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Título */
.titulo--password {
    font-size: 1.8rem;
    color: var(--color-principal);
    /* Morado profundo */
    margin-bottom: 20px;
}

/* Campo de entrada */
.input--password {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-principal);
    /* Morado profundo */
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.input--password:focus {
    outline: none;
    border-color: var(--color-secundario);
    /* Naranja vibrante */
    box-shadow: 0 0 5px rgba(255, 103, 0, 0.5);
}

/* Contenedor de botones */
.modal-actions--password {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Botones */
.boton--password,
.boton-cancelar--password {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boton--password {
    background-color: var(--color-principal);
    /* Morado profundo */
    color: #ffffff;
    /* Blanco */
}

.boton--password:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.boton--password:hover:not(:disabled) {
    background-color: var(--color-secundario);
    /* Naranja vibrante */
    transform: scale(1.05);
}

.boton-cancelar--password {
    background-color: var(--color-secundario);
    /* Naranja vibrante */
    color: #ffffff;
    /* Blanco */
}

.boton-cancelar--password:hover {
    background-color: var(--color-secundario);
    /* Naranja oscuro */
    transform: scale(1.05);
}

/* Contenedor del input con el botón de visibilidad */
.input-container--password {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
}

/* Botón de visibilidad (ojo) */
.toggle-visibility--password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    margin-bottom: 2vh;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-principal);
    /* Morado profundo */
    transition: color 0.3s ease;
}

.toggle-visibility--password:hover {
    color: var(--color-secundario);
    /* Naranja vibrante */
}